@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation-link::before {
  content : "{";
  position: relative;
  left: 0.5rem;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.3s;
}

.navigation-link::after {
  content: "}";
  position: relative;
  right: 0.5rem;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 0.3s;
}

.navigation-link.active::before , .navigation-link:not(.active):hover::before {
  opacity: 1;
  left: -0.5rem;
}

.navigation-link.active::after , .navigation-link:not(.active):hover::after{
  opacity: 1;
  right: -0.5rem;
}

.navigation-link:not(.active):hover::before , .navigation-link:not(.active):hover::after{
  color: #007eff;
}

.main-title {
  -webkit-text-stroke: 5px #007eff;
}

.hashtag {
  -webkit-text-stroke: 3px white;
}

.next , .efecto {
  -webkit-text-stroke: 1px #007eff;
}

.card-frame__top-border::before , 
.card-frame__top-border::after ,
.card-frame__bottom-border::before ,
.card-frame__bottom-border::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 3px solid #007eff;
}

.card-frame__top-border::before {
  border-bottom: none;
  border-left: none;
  right: 5px;
  top: 5px;
}

.card-frame__top-border::after {
  border-bottom: none;
  border-right: none;
  left: 5px;
  top: 5px;
}

.card-frame__bottom-border::before {
  border-top: none;
  border-left: none;
  right: 5px;
  bottom: 5px;
}

.card-frame__bottom-border::after {
  border-top: none;
  border-right: none;
  left: 5px;
  bottom: 5px;
}

.title-filled {
  -webkit-text-stroke: 2px #007eff;
}